<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app wants to use yoru camera to scan a QR Code</string>
	<key>quotes</key>
	<array>
		<string>Suceden cosas negativas. Las mentalidades negativas las hacen más difíciles./James Clear</string>
		<string>La inteligencia es la habilidad de adaptarse a los cambios./Stepthen King</string>
		<string>“Los robots podrían llegar a tomar el control y se podrían rediseñar a sí mismos”./Stephen King</string>
		<string>“Los virus informáticos deberían ser considerados como vida. Pienso que esto dice algo acerca de la naturaleza humana, que la única forma de vida que hemos creado es puramente destructiva. Hemos creado una forma de vida a nuestra imagen y semejanza”./Stephen King</string>
		<string>“Una de las reglas básicas del universo es que nada es perfecto. La perfección no existe simplemente… sin imperfección, ni usted ni yo existiríamos”./Stephen King</string>
		<string>“La ciencia no solo es una disciplina de razón, sino también de romance y pasión”./Stephen King</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://www.zaragoza.es</key>
			<string></string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
